<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Analyzing {{.Job.URL}} – EcoMeter</title>
    <link rel="stylesheet" href="//file.myfontastic.com/fb48iFC6CxrxjBN3kgNPpW/icons.css">
    <link rel="stylesheet" href="//unpkg.com/purecss@0.6.2/build/base-min.css">
    <link rel="stylesheet" href="//unpkg.com/purecss@0.6.2/build/grids-min.css">
    <link rel="stylesheet" href="//unpkg.com/purecss@0.6.2/build/grids-responsive-min.css">
    <link rel="icon" type="image/png" href="img/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="img/favicon-16x16.png" sizes="16x16" />
    <link rel="stylesheet" href="/main.css">
    <script src="/job.js" defer></script>
    <script src="/main.js" defer></script>
</head>
<body>
    <header class="shadow">
        <div class="container">
            <a href="/">
                <img src="/img/logo.png" alt="ecometer">
            </a>
            <i class="toggle i-bars"></i>
        </div>
    </header>
    <div class="container">
        <nav class="menu">
            <a href="/about.html">About</a>
            <a href="/how-it-works.html">How it works</a>
            <a href="/rules/">Best practices</a>
            <a href="/contribute.html">Contribute</a>
        </nav>
    </div>
    <div class="container begin">
        <div class="box">
            <h1>Analyzing {{.Job.URL}}, please wait...</h1>
            <div class="loading">
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
            </div>
            <p class="intro">Your page is beeing analysed, the result will be shown shortly.</p>
        </div>
    </div>
    <div class="container random-rules">
        <h3>Examples of best pratices</h3>
        <p class="intro">Here are two examples of the 115 best practices that can be applied to a web application.<br>Be sure to <a href="/rules/" target="_blank" title="Check best practices list">check the other ones</a></p>
        <div class="pure-g">
            {{ range .SampleRules }}
                <div class="pure-u-1 pure-u-lg-1-2">
                    <div class="card shadow">
                        <div class="box">
                            <i>{{ .Context }}</i>
                            <b>#{{ .ID}}</b>
                            <h4>{{ .Title}}</h4>
                            <div class="summary">{{ .Summary }}</div>
                            <p><a href="/rules/{{ .Slug }}.html">Learn more about this rule</a>
                        </div>
                    </div>
                </div>
            {{ end }}
        </div>
    </div>
</body>
</html>
