<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Report for {{.Report.URL}} – EcoMeter</title>
    <link rel="stylesheet" href="//file.myfontastic.com/fb48iFC6CxrxjBN3kgNPpW/icons.css">
    <link rel="stylesheet" href="//unpkg.com/purecss@0.6.2/build/base-min.css">
    <link rel="stylesheet" href="//unpkg.com/purecss@0.6.2/build/grids-min.css">
    <link rel="stylesheet" href="//unpkg.com/purecss@0.6.2/build/grids-responsive-min.css">
    <link rel="icon" type="image/png" href="img/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="img/favicon-16x16.png" sizes="16x16" />
    <link rel="stylesheet" href="/main.css">
    <script src="/report.js" defer></script>
    <script src="/main.js" defer></script>
</head>
<body>
    <header>
        <div class="container">
            <a href="/">
                <img src="/img/logo.png" alt="ecometer">
            </a>
            <i class="toggle i-bars"></i>
        </div>
    </header>
    <div class="container">
        <nav class="menu">
            <a href="/about.html">About</a>
            <a href="/how-it-works.html">How it works</a>
            <a href="/rules/">Best practices</a>
            <a href="/contribute.html">Contribute</a>
        </nav>
    </div>
    {{if .Report.Report.Error -}}
    <div class="container report shadow">
        <div class="card">
            <div class="pure-g">
                <div class="pure-u-1">
                    <div class="box error">
                        <div class="head"><i class="i-exclamation-triangle"></i></div>
                        <div class="message">
                            <h2>Ho snap!</h2>
                            An error occurred analyzing {{.Report.URL}}.
                            {{if eq .Report.Report.Error.Name "PAGE_LOAD_FAILED" -}}
                            The page failed to load or the server took too long to respond.
                            {{- /* XXX: this is a case where the user could retry the analysis. */ -}}
                            {{- else -}}
                            This looks like a bug; the error has been logged and will hopefully eventually be fixed.
                            {{- end -}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{else}}
    <div class="container report shadow">
        <div class="card">
            <div class="pure-g">
                <div class="pure-u-1 pure-u-lg-1-2 pure-u-xl-2-3 details">
                    <div class="box">
                        <h1>Report for {{.Report.URL}}</h1>
                        <p class="score">Successfully passed {{ .PassedRules }} of {{len .Report.Report.Rules}} best practices tested</p>
                        <div class="disclaimer"><i class="i-exclamation-triangle"></i>The results given by this tool are for educational and diagnostic purpose only, it is not intended to compare websites.<br>
                        This tool is in beta version and still in active development, all given informations may change in the future.</div>
                    </div>
                </div>
                <div class="pure-u-1 pure-u-lg-1-2 pure-u-xl-1-3 screenshot">
                    {{if .Report.Report.Screenshot -}}
                    {{- /* XXX: keep screenshot dimensions in sync with webpage-analyzer.js */ -}}
                    <img src="data:image/png;base64,{{.Report.Report.Screenshot}}" width=320 height=216 alt="{{ .Report.URL }}">
                    {{- end}}
                </div>
            </div>
        </div>
    </div>
    <div class="container report rules-list">
        <div class="box shadow">
            <div class="card border">
                <h3>Design best practices{{block "summary" .RulesByContext.Design}}: {{ .Progress }}% (<i>{{ .Passed }} out of {{ len .Rules }}</i>){{end}}</h3>
                <ul>
                    {{block "rules" .RulesByContext.Design -}}
                    {{- range .Rules -}}
                    {{- $rule := rule .Slug -}}
                    <li class="{{if ruleApplicable . }}{{if rulePassed .}}passed{{else}}failed{{end}}{{else}}na{{end}}">
                        <div class="pure-g toggle">
                            <div class="pure-u-22-24">
                                <h4>
                                  {{- if ruleApplicable . -}}
                                    {{- if rulePassed . -}}
                                      <i class="i-check mark"></i>
                                    {{- else -}}
                                      <i class="i-thumbs-down mark"></i>
                                    {{- end -}}
                                  {{- else -}}
                                    <i class="i-times mark"></i>
                                  {{- end}}
                                  <b>#{{ $rule.ID }}</b>{{ $rule.Title }}
                                </h4>
                            </div>
                            <div class="pure-u-2-24">
                                <i class="i-caret-down"></i>
                                <i class="i-caret-up"></i>
                            </div>
                        </div>
                        <div class="dropdown">
                            {{if $rule.Template .Data}}
                            <div>{{- $rule.Template .Data -}}</div>
                            {{end}}
                            <a href="/rules/{{ $rule.Slug }}.html" class="more">ⓘ {{if or (not (ruleApplicable .)) (rulePassed .) }}Learn more about this best practice{{else}}How to fix{{end}}</a>
                        </div>
                    </li>
                    {{- end -}}
                    {{- end}}
                </ul>
            </div>
            <div class="card border">
                <h3>Development best practices{{template "summary" .RulesByContext.Development}}</h3>
                <ul>
                    {{template "rules" .RulesByContext.Development}}
                </ul>
            </div>
            <div class="card border">
                <h3>Hosting best practices{{template "summary" .RulesByContext.Hosting}}</h3>
                <ul>
                    {{template "rules" .RulesByContext.Hosting}}
                </ul>
            </div>
        </div>
    </div>
    {{end}}
</body>
</html>
