{{- /*
    This template is only used at build-time by cmd/generaterules.

    Its input is a slice of ruleDescription as defined in cmd/generaterules.
*/ -}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Best Practices – EcoMeter</title>
    <link rel="stylesheet" href="//file.myfontastic.com/fb48iFC6CxrxjBN3kgNPpW/icons.css">
    <link rel="stylesheet" href="//unpkg.com/purecss@0.6.2/build/base-min.css">
    <link rel="stylesheet" href="//unpkg.com/purecss@0.6.2/build/grids-min.css">
    <link rel="stylesheet" href="//unpkg.com/purecss@0.6.2/build/grids-responsive-min.css">
    <link rel="icon" type="image/png" href="img/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="img/favicon-16x16.png" sizes="16x16" />
    <link rel="stylesheet" href="/main.css">
    <script src="/main.js" defer></script>
</head>
    <body>
    <header>
        <div class="container">
            <a href="/">
                <img src="/img/logo.png" alt="ecometer">
            </a>
            <i class="toggle i-bars"></i>
        </div>
    </header>
    <div class="container">
        <nav class="menu">
            <a href="/about.html">About</a>
            <a href="/how-it-works.html">How it works</a>
            <a href="/rules/">Best practices</a>
            <a href="/contribute.html">Contribute</a>
        </nav>
    </div>
    <div class="container rules-list">
        <div class="box shadow card">
            <h1>Best Practices</h1>
            <h2>Design</h2>
            <ul>
                {{range . -}}
                    {{- if eq .Context "Design" -}}
                        {{- block "list_item" . -}}
                            <li><a href="{{ .Slug }}.html">{{ .Title }} <small>(#{{ .ID }})</small></a>
                        {{- end -}}
                    {{- end -}}
                {{- end}}
            </ul>
            <h2>Development</h2>
            <ul>
                {{range . -}}
                    {{- if eq .Context "Development" -}}
                        {{template "list_item" .}}
                    {{- end -}}
                {{- end}}
            </ul>
            <h2>Hosting</h2>
            <ul>
                {{range . -}}
                    {{- if eq .Context "Hosting" -}}
                        {{template "list_item" .}}
                    {{- end -}}
                {{- end}}
            </ul>
        </div>
    </div>
    </body>
</html>
