{{- /*
    This template is only used at build-time by cmd/generaterules.

    Its input is a ruleDescription as defined in cmd/generaterules.
    Specifically, it is NOT a rule as defined in rules.go, so it
    has additional Description and Example properties for example.
*/ -}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{.Title}} – EcoMeter</title>
    <link rel="stylesheet" href="//file.myfontastic.com/fb48iFC6CxrxjBN3kgNPpW/icons.css">
    <link rel="stylesheet" href="//unpkg.com/purecss@0.6.2/build/base-min.css">
    <link rel="stylesheet" href="//unpkg.com/purecss@0.6.2/build/grids-min.css">
    <link rel="stylesheet" href="//unpkg.com/purecss@0.6.2/build/grids-responsive-min.css">
    <link rel="stylesheet" href="/highlight.css">
    <link rel="icon" type="image/png" href="img/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="img/favicon-16x16.png" sizes="16x16" />
    <link rel="stylesheet" href="/main.css">
    <script src="/highlight.js"></script>
    <script src="/main.js" defer></script>
    <script>hljs.initHighlightingOnLoad();</script>
</head>
<body>
    <header>
        <div class="container">
            <a href="/">
                <img src="/img/logo.png" alt="ecometer">
            </a>
            <i class="toggle i-bars"></i>
        </div>
    </header>
    <div class="container">
        <nav class="menu">
            <a href="/about.html">About</a>
            <a href="/how-it-works.html">How it works</a>
            <a href="/rules/">Best practices</a>
            <a href="/contribute.html">Contribute</a>
        </nav>
    </div>
    <div class="container shadow">
        <div class="card rule">
            <div class="pure-g">
                <div class="pure-u-1">
                    <div class="box">
                        <h1>{{ .Title }}</h1>
                        <div class="context">({{ .Context }})</div>
                        <b>#{{ .ID }}</b>
                        <div>{{ .Summary }}</div>
                        <div>{{ .Description }}</div>
                        <div class="example code">{{ .Example }}</div>
                        <div class="specifications"><i class="i-exclamation-triangle"></i>This best practice should only be applied if it is coherent with your project's specifications.</div>
                        <div class="license">Under CC-By-NX-SA license</div>
                        <div class="clear">
                            <a class="button" href="javascript:history.back()">Go back</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
